

/*thead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}*/
.form-control{
    width: 100%;
}
.form-label{
   margin-top: 5rem; 
}
.btn{
    margin-top: 0.5rem;
   
    border-radius: 2.25rem;
    padding: 1;
}
.table-bordered {
    border: 1px solid #030404; /* Add the desired border color and thickness */
    padding-left: 10%;
  }
  .table th {
    text-align: center;
  }
  .table-container {
    display: flex;
  justify-content: center;
    align-items: center;
    height: 200vh; /* Optional: Adjust the height to center vertically on the page */
  }
  .table-bordered tbody tr:first-child td {
    margin-top: 0;
  }
.table-bordered th,
.table-bordered td {
  text-align: center;
  vertical-align: middle; /* Vertically center table cells */
}
/* CSS to style the table container */
.table-container {
    margin-top: 0.1rem;
    margin-bottom: 5rem;
    margin-left: 20rem;
    margin-right: 5rem;
    /*margin: 0 auto;  Center the container horizontally */
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 0 15px; /* Add padding to the left and right to create space */
  }

  .searchcol{
    display:flex;
    justify-content:center; 
    align-items:center;
    margin-bottom: 1rem;
  }

  .search{
   margin-bottom:0.1rem;
    margin-top:5rem ;
  }

  .has-text-center{
    margin-bottom: 5rem;
    margin-top: 1rem;
  }
  