.btn{
    margin-top: 1rem;
}

.form-group{
    margin-top: 2rem;
}
.custom-label {
    text-align: center; 
    font-weight: bold; 
  }
  .head{
    text-align: center; 
    font-weight: bold; 
    margin-top: 7rem;
  }
  container-fluid{
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #5e5b5b; }
  

  .form-con {

    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 10rem;
    margin-right: 0.1rem;
    max-width: 5000px; 
  
    padding: 20px; 
    border: 5px solid #ccc; 
    border-radius: 5px; 
    
  }